<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage actors</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<a class="h3" th:href="@{/}"><img src="/door_exit.png" alt="Home" width="48px" height="48px"></a>
<div class="container-fluid text-center">
    <div><h2>Manage actors</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/actor/new}">Add new actor</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Movie</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="act : ${listActor}">
                <tr>
                    <td>[[${act.id_actor}]]</td>
                    <td>[[${act.name_actor}]]</td>
                    <td>[[${act.date_of_birth_actor}]]</td>
                    <td>[[${act.movie.name_movie}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/actor/edit/' + ${act.id_actor}}">Edit</a>
                        <a class="h4 mr-3" th:href="@{'/actor/delete/' + ${act.id_actor}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>